<footer class="footer-demo section-dark">
    <div class="container">
        <div class="pull-left">
           <!-- <ul>

                <li>
                    <a href="http://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="http://www.creative-tim.com/product/rubik">
                        Licenses 
                    </a>
                </li>
            </ul>-->
            <img src="assets/img/happenstance.png" class="footer-img">
            <img src="assets/img/cityrainco.png" class="footer-img">
            <img src="assets/img/aep.png" class="footer-img">

        </div>
        <div class="copyright pull-right">
            &copy; 2018, made by tehdan
        </div>
    </div>
</footer>