
<div class="wrapper">
  <div class="demo-header demo-header-image">
    <div class="motto">
      <h1 class="title-uppercase">Registration</h1>
      <h3>WA Submission #1. Mar 23th <a href="https://www.bellinghammma.com/" target="_blank">Bellingham MMA</a></h3>
      <br>
      <a class="action-button" href="https://squareup.com/store/duckjitsu/item/wa-submission-series" target="_blank"> Register here</a>
      <a class="action-button" href="https://squareup.com/store/duckjitsu/item/wa-submission-series" target="_blank"> Tickets here</a>
    </div>
  </div>
</div>

