
<div class="wrapper">
  <div class="demo-header demo-header-image">
    <div class="motto">
      <h1 class="title-uppercase">Rules</h1>
      <h3>Modified Submission Only Rules.</h3>
        Submission only<br>
        Round Robin Format<br><br>
      <div>
        <span class="bold">Scoring</span><br>
          3 points for submission<br>
          1 pt for a draw<br>
          0 pt being submitted<br><br>
      </div>
      <div>
        <span class="bold">Experienced</span><br>
          one 8 min round<br>
          All subs legal<br><br>
      </div>

      <div>
        <span class="bold">Beginner</span><br>
        one 6 min round<br>
        No twisting footlocks (toe holds and heel hooks)
      </div>
    </div>
  </div>
</div>

