<div class="wrapper">
  <div class="demo-header demo-header-image">
    <div class="motto">
      <h1 class="title-uppercase">WA Submission Series</h1>
      <h3>Make your mark on the mats.</h3>
      <br>
      <h3>WA Submission #2. Dec 07th <a href="https://kindredjj.com/" target="_blank">Kindred Jiu Jitsu</a></h3>
      <br><br>
      <a class="action-button" href="https://squareup.com/store/duckjitsu/item/wa-submission-series" target="_blank"> Register here</a>
      <a class="action-button" href="https://squareup.com/store/duckjitsu/item/wa-submission-series" target="_blank"> Tickets here</a>
    </div>
  </div>
</div>
